

<section>
  <div class="imgBx">
    <img src="bg-image2.jpg" width="100%" height="100%">
  </div>
  <div class="contentBx">
    <div class="formBx">
      <h2>Sign Up As Farmer</h2><br>
      <form (ngSubmit)="onSingup()">
        <div class="inputBx">
          <span>Farmer Email</span>
          <input [(ngModel)]="credentials.email" required type="text" name="email"/>
        </div>
        <div class="inputBx">
          <span>Farmer Name</span>
          <input [(ngModel)]="credentials.name" required type="text" name="name"/>
        </div>
        <div class="inputBx">
          <span>Password</span>
          <input [(ngModel)]="credentials.password" required type="password" name="password"/>
        </div>
        <div class="inputBx">
          <span>Farmer Contact</span>
          <input [(ngModel)]="credentials.phoneNumber" required type="text" name="phoneNumber"/>
        </div>
        <div class="inputBx">
          <span>Farmer Location</span>
          <input [(ngModel)]="credentials.location" required type="text" name="location"/>
        </div>
        <div class="inputBx">
          <span>Image URL</span>
          <input [(ngModel)]="credentials.image" required type="text" name="image"/>
        </div><br>
        <div style="display: flex; justify-content: flex-start; align-items: flex-start;">
          <button type="submit"> Sign Up </button> &nbsp; <button type="button" (click)="backToHome()">Home</button></div>
        <div class="inputBx">
          <p>Do you already have an account? <a href="/login-farmer">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</section>

 