<!--nav bar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4" >
    <div class="container">
      <a class="navbar-brand text-white" href="#">AGRIKON</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-black"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
          
          &nbsp; &nbsp;<li class="nav-item">
            <a class="nav-link text-white" routerLink="/dealer-dashboard/{{dealerDetails.id}}">Dashboard</a>
          </li>
          &nbsp; &nbsp;<li class="nav-item active">
            <a class="nav-link text-black">Profile</a>
          </li>
      
        </ul>
      </div>
    </div>
  </nav>


  <div class="banner-image w-100 d-flex justify-content-left align-items-left">
    <div class="content text-center">
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <!-- <div class="profile-image"></div> -->
                <div class="profile-image">
                    <img src="{{dealerDetails.image}}" alt="" width="250" height="250" style="border-radius: 300px; border: 10px solid rgb(253, 253, 253);">
                </div>
            </div>
            <div class="col-sm-8">
                <div style="margin-top: 130px; margin-left: 70px; font-size: 40px; color: white; font-weight: bold;">{{dealerDetails.name}}</div>
                <div style="margin-left: 172px; display:flex; justify-content:left; align-items:left; color: white;">{{dealerDetails.email}} | {{dealerDetails.phoneNumber}}</div>
            </div>
        </div>
    
    </div>
   
  </div>

  
<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-sm-4" >
      <div class="row" style="margin-bottom: 10px; margin-top: 70px;">
          <div style="display: flex; justify-content: center;"><button class="button-edit" (click)="editRes()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Profile</button></div>
      </div>
      <div class="row">
          <div style="display: flex; justify-content: center;"><button class="button-delete"  type="button">Delete Profile</button></div>
      </div>
      <br><br>
      <div class="row">
          <div style="display: flex; justify-content: center; align-items: center;">
              <a href="" class="fa fa-facebook"></a>
              <a href="" class="fa fa-twitter"></a>
              <a href="" class="fa fa-google"></a>
          </div>
      </div>
      <div class="row">
          <div style="display: flex; justify-content: center; align-items: center;">
              <a href="" class="fa fa-linkedin"></a>
              <a href="" class="fa fa-youtube"></a>
              <a href="" class="fa fa-instagram"></a>
          </div>
      </div>
    </div>
    <div class="col-sm-8" style="margin-top: 40px;">
        <div class="header-bg">
            * Personal Details
        </div><br>
        <div class="row" style="margin-left: 10px;">
            <div class="col-sm-5">
              <div><strong>Dealer ID :</strong></div>{{dealerid}}<br><br>
              <div><strong>Dealer Email :</strong></div>{{dealerDetails.email}}<br><br>
              <div><strong>Dealer Location :</strong></div>{{dealerDetails.location}}<br><br>
            </div>
            <div class="col-sm-7">
              <div><strong>Dealer Name :</strong></div>{{dealerDetails.name}}<br><br>
              <div><strong>Dealer Contact :</strong></div>{{dealerDetails.phoneNumber}}<br><br>
              <div><strong>About :</strong></div>{{dealerDetails.about}}<br><br>
            </div>
        </div>

        <div class="header-bg">
          * Bank Details
      </div><br>
      <div class="row" style="margin-left: 10px;">
          <div class="col-sm-5">
            <div><strong>Account Number :</strong></div>{{dealerDetails.accountno}}<br><br>
            <div><strong>Branch Name : </strong></div>{{dealerDetails.branch}}<br><br>
          </div>
          <div class="col-sm-7">
            <div><strong>Bank Name : </strong></div>{{dealerDetails.bank}}<br><br>
            <div><strong>Paytm ID : </strong></div>{{dealerDetails.paytmid}}<br><br>
          </div>
      </div>

  
</div>
</div> 

  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
          <div class="row">
            <div class="col-sm-6">
              <div style="display: flex; justify-content: center; align-items: center; margin-top: 17px; margin-bottom: 10px;">
                <img src="{{dealerDetails.dealerimage}}" alt="" width="180" height="180" style="border-radius: 300px;">
                
              </div>
              <div style="display: flex; justify-content: center; align-items: center;\">
                <strong><br>Bank Details: </strong><br>
              </div>
              <label><br>Bank Name</label>
            <input type="text" class="form_field" placeholder="Bank Name" formControlName="dealerbank" id="exampleInputEmail1" required ngModel>
            <label><br>Bank Branch</label>
            <input type="text" class="form_field" placeholder="Bank Branch" formControlName="dealerbranch" id="exampleInputEmail1" required ngModel>
            <label><br>Account Number</label>
            <input type="text" class="form_field" placeholder="Account Number" formControlName="dealeraccountno" id="exampleInputEmail1" required ngModel>
            <label><br>Paytm ID</label>
            <input type="text" class="form_field" placeholder="Paytm ID" formControlName="dealerpaytmid" id="exampleInputEmail1" required ngModel>
            
            </div>
            <div class="col-sm-6">
              <label><br>Dealer ID</label>
            <input type="text" class="form_field" placeholder="Farmer ID" formControlName="dealerid" id="exampleInputEmail1" required ngModel>
            <label><br>Dealer Name</label>
            <input type="text" class="form_field" placeholder="Farmer Name" formControlName="dealername" id="exampleInputEmail1" required ngModel>
            <label><br>Dealer Email</label>
            <input type="text" class="form_field" placeholder="Farmer Email" formControlName="dealeremail" id="exampleInputEmail1" required ngModel>
            <label><br>Dealer About</label>
            <input type="text" class="form_field" placeholder="Farmer About" formControlName="dealerabout" id="exampleInputEmail1" required ngModel>
            <label><br>Dealer Contact</label>
            <input type="text" class="form_field" placeholder="Farmer Contact" formControlName="dealerphone" id="exampleInputEmail1" required ngModel>
            <label><br>Dealer Location</label>
            <input type="text" class="form_field" placeholder="Farmer Location" formControlName="dealerlocation" id="exampleInputEmail1" required ngModel>
            <label><br>Image URL</label>
            <input type="text" class="form_field" placeholder="Image URL" formControlName="dealerimage" id="exampleInputEmail1" required ngModel>
  
            </div>
          </div>
          
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click) = "updateDealerDetails()"  [disabled] = "!formValue.valid" data-bs-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>